 .modal-lg{
    width: 80%;
 }

 .modal-title{
    color: blue;
 }

 .modal-dialog{
    width: 80%;
 }

 .section{
    margin-top: 30px;
 }

 .section-title{
    font-size: 20px;
    color: blue;
 }



 .launch-modal{
   cursor: pointer;
 }